<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-dark">

  <a class="navbar-brand ml-5" href="#"><img src="https://seeklogo.com/images/N/nba-national-basketball-association-logo-DCDCA90B16-seeklogo.com.png" height="40px" width="15px" alt="" class="mr-2">NBA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <small class="ml-auto mr-5"><code><span class="disabled">Date of api: 2018</span></code></small>
</nav>
